#register_box {
    display: block;
    margin: 0 25%;
    padding: 25px;
    border: 0.5px solid white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1 {
    margin: 15px 0px 30px 0px;
    text-align: center;
    color: rgba(255, 55, 25, 0.6);
}
.row{
    display:flex;
    margin: 10px;
}
#txtEmail,
#txtAddress,
#txtName{
    width:465px;
}
#txtCountry,
#txtZIPCode{
    max-width:220px;
}
#txtPassword,
#txtUserID{
    width:120px
}
#Language{
    border: 5px solid black;
}
.col{
    margin-left: 5px;
    min-width: 100px;
}
textarea{
    width:465px;
    height:150px
}
#btnRegister{
    width: 70px;
    height: 30px;
    margin-left: 240px;
}
